@charset "utf-8";
/* CSS Document */

.inner-page {
	width: 1028px;
	margin: 0 auto;
	overflow: hidden;
}
.colum_01 {
	font-family: 微软雅黑;
}
.colum_02 {
	font-family: 微软雅黑;
}
.title-inner {
	height: 45px;
	line-height: 45px;
	position: absolute;
	left: 0px;
}
.tit_s01 {
	background: url(../img/public_titbg_t4.jpg) repeat-x;
	height: 44px;
	font-weight: normal;
	position: relative;
	font-size: 18px;
}
.tit_s01 span.tabg, .tit_s01 span.bg01, .tit_s01 span.bg02 {
	display: block;
	height: 44px;
	line-height: 44px;
	float: left;
}
.tit_s01 .title-inner {
	left: 0;
	height: 45px;
	line-height: 45px;
	position: absolute;
}
.tit_s01 span.tabg {
	width: auto;
	background: url(../img/public_titbg_t3.jpg) repeat-x;
	padding: 0 8px;
	font-size: 18px;
	color: #ffffff;
}
.tit_s01 span.tabg a {
	color: #ffffff;
}
.tit_s01 span.bg01 {
	width: 20px;
	background: url(../img/public_titbg_t1.jpg) no-repeat;
}
.tit_s01 span.bg02 {
	width: 20px;
	background: url(../img/public_titbg_t1.jpg) no-repeat right 0;
}
.report_title .pannel-title {
	border-bottom: 1px #666666 solid;
}
.pannel-title {
	position: relative;
	font-size: 18px;
	height: 45px;
}
.list01{
	padding-top:18px;
	}
.list01 li {
	background:url(../img/arrow_03.jpg) no-repeat scroll 0 15px;
	margin: 0 auto;
	padding-left: 22px;
	height: auto;
	overflow:hidden;
	line-height: 36px;
	font-size: 14px;
}
.list01 li a {
	color: #333333;
	font-size:14px;
}
ul.list01 li a {
float:left;
display:inline;
overflow:hidden;
}
ul.list01 li a:hover {
color:#025194;
}
.pubListBox01 .list01 li .datetime {
color: #999999;
font-size: 12px;
width: 80px;
text-align: center;
line-height:40px;
display:inline;
float: right;
}

.tit_s01 span.more {
float:right;
font-weight: normal;
color: #666666;
font-size: 12px;
width: 52px;
height: 32px;
line-height: 20px;
padding: 12px 6px 0 0;
background: url(../images/xinwen/public_titbg_t5.jpg) no-repeat right 0;
}
.tit_s01 span.more a {
color: #000;
font-family:"宋体";
}
.list01 li.line {
border-bottom: 1px #dddddd solid;
margin-bottom: 15px;
padding:0 0 15px 22px;
}
